SUPABASE_URL= https://exmktvvsljkqrxwszjuu.supabase.co
SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4bWt0dnZzbGprcXJ4d3N6anV1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTU2NjIsImV4cCI6MjA2Mjg3MTY2Mn0.iJmAtjgeMI6paMAj2jEhcrRNDjQIjdbrQ3Cw7f78aX8